@tailwind base;
@tailwind components;
@tailwind utilities;


/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

html, body, #root {
  background-color: #bbe4e9;
}

/* .rbc-month-view .rbc-row .rbc-day-bg {
  border: 1px solid black;
} */

.rbc-calendar {
  margin-top: 8rem;
}

.rbc-event {
  border: 1px solid black;
  border-radius: 0;
}

.rbc-date-cell {
  border: 1px solid black;
}

.rbc-header {
  border: 1px solid black;
}

/*Buttons*/
.rbc-toolbar-label {
  font-weight: bold;
}

.rbc-btn {
  border: 1px solid black;
}

.rbc-btn-group {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
}

.rbc-time-header-cell {
  border: 1px solid black;
}

.rbc-agenda-empty {
  font-weight: bold;
  font-size: x-large;
}